* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f3f3;
}
.w1200{
    width: 1200px;
    margin: auto;
}
.clear {
    clear: both;
}
.logo{
    float: left;
    margin-right: 160px;
    margin-top: 7px;
}
.logo1 {
    float: left;
    margin-right: 5px;
}
.logo2 {
    float: left;
    margin-top: 12px;
}
.nav {
    float: left;
    width: 500px;
    height: 72px;
}
.nav .first {
    width: 80px;
    height: 72px;
    background-color: #5696ff;
    color: #fff;
}
.head .nav li:hover { 
    background-color: #5696ff;
    color: #fefeff;
}
.head .nav li {
    float: left;
    width: 80px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    margin-right: 20px;
    list-style: none;
}
.head .nav li a{
        color: black;
        text-decoration: none;
}
.reg {
   float: right;
   line-height : 72px;
}
.shadow {
	height: 60px;
	background-color: #666666;
	border: solid 1px #dcdcdc;
}
.shadow_coin{
    position: relative;
    width: 1200px;
    height: 60px;
}
.searcherICON{
    width: 30px;
    position: absolute;
    left: 0px;
    top: 19px;
    padding-left: 35px;
    padding-right: 35px;
    border-left: 1px solid #f3f1f1;
    border-right: 1px solid #f3f1f1;
}
.personage{
    position: absolute;
    right: 0px;
    top: 19px;
    padding-left: 35px;
    padding-right: 35px;
    border-right: 1px solid #f3f1f1;
}
.comment{
    position: absolute;
    right: 100px;
    top: 19px;
    padding-left: 35px;
    padding-right: 35px;
    border-right: 1px solid #f3f1f1;
}
.history{
    position: absolute;
    right: 200px;
    top: 19px;
    padding-left: 35px;
    padding-right: 35px;
    border-left: 1px solid #f3f1f1;
    border-right: 1px solid #f3f1f1;
}
.photo{
    float: left;
    width: 354px;
}
.index{
    width: 208px;
	height: 61px;
	border: solid 1px #dcdcdc;
    margin-top: 55px;
}
.index .text1 {
    float: left;
    width: 104px;
	height: 26px;
	font-size: 26px;
	color: #5696ff;
    margin-top: 15px;
    margin-left: 35px;
    
}
.index .arrows{
    float: right;
    width: 18px;
	height: 18px;
    margin-top: 25px;
    margin-right: 30px; 
}
hr {
    margin-top: 55px;
}
.cho_pic1{
	width: 354px;
	height: 270px;
	background-color: #ffffff;
	border: solid 1px #dcdcdc;
    margin-top: 55px;
}
.name{
    margin-top: 18px; 
    margin-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
.name .left{
    float: left;
}
.name .right{
    float: right;
}
.review{
    margin-top: 55px;
}
.re_left img{
    float: left;
    width: 90px;
	height: 90px;
}
.re_right{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.re_right .text4{
    margin-bottom: 10px;
    width: 92px;
	height: 19px;
	font-size: 20px;
	color: #333333;
}
.re_right .text5{
    width: 114px;
	height: 11px;
	font-size: 12px;
	color: #666666;
}
.about{
    width: 361px;
    height: 318px;
    margin-top: 55px;
}
.text6 {
	height: 21px;
	font-family: MicrosoftYaHei;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 4px;
	color: #333333;
    margin-bottom: 20px;
}
.text7 {
	width: 361px;
	height: 196px;
	font-size: 16px;
	line-height: 30px;
	color: #666666;
    margin-bottom: 40px;
}
.more {
	width: 122px;
	height: 50px;
	border: solid 1px #d1d0d0;
    text-align: center;
}
.title_main{
    float: left;
}
.text8{
    margin-top: 15px;
}
.article {
    float: right;
    width: 754px;
	height: 2461px;
    margin-top: 55px;
}
.art_main{
	width: 772px;
	height: 731px;
	background-color: #ffffff;
	border: solid 1px #dcdcdc;;
    margin-bottom: 70px;
}
.art_main .title{
    padding-left: 40px;
    padding-right: 40px;
    line-height: 100px;
   
}
.art_main .banner{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}
.title_main{
    float: left;
    border-right:1px solid #dcdcdc;
    height: 114px;
    padding-right: 100px;
}
.text9{
	width: 330px;
	height: 22px;
	font-size: 22px;
	color: #333333;
    margin-bottom: 5px;
}
.title_line {
	width: 774px;
	height: 1px;
	background: #dcdcdc;
}
.main_line {
    float: left;
	width: 1px;
	height: 114px;
	border: solid 1px #dcdcdc;
}
.title_pic{
    float: right;
    width: 180px;
    height: 106px;
}
.text11{
	height: 11px;
	font-size: 12px;
	color: #333333;
    text-align: right;
    margin-bottom: 10px;
}
.people img{
    float: right;
    margin-top: 40px;
}
.peo_name {
    float: right;
	height: 9px;
	font-size: 12px;
	color: #666666;
    margin-right: 5px;
    margin-top: 10px;
}
.ban_pic {
	width: 696px;
	height: 310px;
	background-color: #dcdcdc;
    margin-top: 60px;
}
.text12 {
	width: 688px;
	height: 100px;
	font-size: 16px;
	line-height: 28px;
	color: #666666;
    margin-top: 30px;
}
.continue{
    width: 700px;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}
.continue .button{
    float: left;
	width: 80px;
	height: 20px;
	border: solid 1px #dcdcdc;
    text-align: center;
    padding: 15px;
}
.continue .icon{
    float: right;
	width: 298px;
	height: 18px;
    margin-top: 10px;
}
.collect{
    float: right;
    border-right: 1px solid #dcdcdc;
}
.like{
    float: right;
    border-right: 1px solid #dcdcdc;
}
.leave{
    float: right;
}
.icon img{
    float: left;
    margin-left: 20px;
}
.text13 {
    float: left;
	width: 31px;
	height: 14px;
	font-family: MicrosoftYaHei;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
   margin-right: 20px;
}
.turn{
    width: 771px;
	height: 59px;
    margin-top: 15px;
}
.turn .pre{
    float: left;
    position: relative;
    width: 198px;
	height: 59px;
	border: solid 1px #dcdcdc;
}
.turn .next{
    position: relative;
    float: right;
    width: 198px;
	height: 59px;
	border: solid 1px #dcdcdc;
}
.turn .pre_text{
    position: absolute;
    width: 198px;
	height: 59px;
	font-size: 18px;
	color: #333333;
    top: 18px;
    left: 60px;
}
.page{
    float: left;
}
.num{
    float: left;
	height: 14px;
	font-size: 19px;
	color: #666666;
    margin: 20px;
}
.guide{
	font-size: 19px;
	line-height: 35px;
    color: #5696ff;
}
.blue {
    margin-top: 66px;
    height: 100px;
    background-color: #5696ff;
    padding-top: 30px;
}
.blue .brand {
    margin: auto;
    width: 700px;
    font-size: 16px;
    line-height: 35px;
    color: #fafafc;
}
.blue .tel {
    margin: auto;
    width: 700px;
    font-size: 16px;
    line-height: 35px;
    color: #fafafc;
}
